button{
    background-color:rgb(3, 4, 71);
    border-radius: 90%;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 1px 2px 2px whitesmoke;
    position:absolute;
    transform: translate(-50%,-50%);
}
.fun{
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: white;
}
.add{
    
    top: 70%;
    left: 25%;
}
.sub{
    top: 70%;
    left: 75%;
}
.reset{
    width: 50px;
    height: 50px;
    font-size: 10px;
    color: white;
    top: 52%;
    left:50%;
   
}
button:hover{
    background-color: rgb(14, 7, 85);
    box-shadow: 2px 2px 2px rgb(206, 206, 197);
    text-shadow: 2px 2px 2px rgb(2, 150, 36);
}