@import url('http://fonts.cdnfonts.com/css/digital-7-mono');

@import "buttons.css";   

body{
    background: linear-gradient(to left, #000428, #004e92); 
}

.can{
    background: url("https://i.pinimg.com/originals/65/03/7d/65037dfbe963ce654c487895bf25bea9.jpg") no-repeat;
    background-size:cover;
    width: 480px;
    height:480px;
    border-radius: 90%;
    box-shadow: 2px 2px 6px whitesmoke;
    margin: 5% 30% 5% 30%;
    border: rgb(15, 15, 15) solid 3px;
}

#screen{
    position: absolute;
    margin:1% 5% 40% 5%;
    width: 21%;
    height:15%;
    background-color: green;
    font-family: 'Digital-7 Mono', sans-serif;
    font-size:100px;
    color: rgba(226, 0, 11, 1);
    font-weight: bolder;
    text-align: right;
}

