@import url('http://fonts.cdnfonts.com/css/digital-7-mono');

@import "buttons.css";   

body{
    background: linear-gradient(to left, #000428, #004e92); 
}

.can{
    background: url("https://i.pinimg.com/originals/65/03/7d/65037dfbe963ce654c487895bf25bea9.jpg") no-repeat;
    background-size:cover;
    width: 480px;
    height:480px;
    border-radius: 90%;
    box-shadow: 2px 2px 2px rgb(5, 11, 29);
    margin: 5% 30% 5% 30%;
    border: rgb(211, 206, 206) solid 4px;
}

#screen{
    border: #03331bfb solid 5px;
    position: absolute;
    margin:5% 5% 40% 5%;
    width: 19%;
    height:11%;
    background-color: rgb(22, 24, 22);
    font-family: 'Digital-7 Mono', sans-serif;
    font-size:80px;
    color: rgba(226, 0, 11, 1);
    font-weight: bolder;
    text-align: right;
    text-shadow: 2px 2px 2px rgb(44, 94, 59);
    box-shadow: 1px 1px 1px rgba(216, 218, 217, 0.918);
    padding: 10px 10px 10px 10px;
}

